stages:
  - test
  - publish

test-podify:
  stage: test
  image: ubuntu:20.04
  script:
    - apt-get update -qy
    - apt-get install -y python3-dev python3-pip
    - pip3 install -r requirements.txt
    - python3 -c "import zoneinfo; print(zoneinfo.available_timezones())"
    - python3 manage.py test

publish-podify:
  stage: publish
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  before_script:
    - docker info
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  rules:
    # Runs only when a tag with 'X.Y.Z.' pattern is created
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
      when: always
