arrow==0.15.5
asgiref==3.2.7
backcall==0.1.0
blessed==1.17.4
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.2
Django==3.1.12
django-environ==0.4.5
-e git+https://github.com/Chive/django-multiupload.git@ba52e161a68ce19062c3655e89544c2d377990a0#egg=django_multiupload
django-picklefield==2.1.1
django-q==1.2.1
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
lxml==4.5.0
mutagen==1.44.0
pafy==0.5.5
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2019.3
redis==3.4.1
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.8
uWSGI==2.0.18
wcwidth==0.1.9
youtube-dl==2020.6.16.1
